
*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
.root{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.Header{
  width: 100%;
  margin-top: 30px;
  color: #000;
  text-align: center;
}
.SearchBar{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px;
}
.SearchBar input[type='search']{
  position: relative;
  border: 2px solid #000;
  width: 250px;
  height: 40px;
  border-radius: 15px;
  padding: 12px;
  font-size: medium;
}
.SearchBar img{
  position: absolute;

}
.WeatherMain{
  position: relative;
  left:-10px;
  width: 80%;
  height: 90%;
  text-align: center;
  color: #000;
}
.Date{
  position: absolute;
  left: -16px;
  width: 100%;
  margin: 25px;
}
.WeatherIcon{
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}
.WeatherIcon sup{
  position: relative;
  font-size: 18px;
  top: 10px;
}
.WeatherIcon span{
  position: relative;
  top: 25px;
  vertical-align: super;
}
.WeatherIcon img{
  width: 150px;
  height: 150px;
  top: 2px;
  border-radius: 50%;
}
.WeatherDescription{
  position: relative;
  left: -16px;
  width: 100%;
  margin: 25px;
  font-size: large;
}
.WindSpeed{
  position: relative;
  left: -13px;
  width: 100%;
  margin: 25px;
}
.UserData{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
.UserData input[type='text']{
  border: 2px solid #000;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  padding: 12px;
  font-size: medium;
  margin: 20px;
}
a{
  text-decoration: none;
  color: #007bff; 
}
a:hover {
  text-decoration: none; 
  color: #007bff; 
  font-weight: bold;    
  transition: color 0.3s ease-in-out, transform 0.2s ease;
  transform: scale(1.1); 
}
.Submit{
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.Submit button{
  width: 100px;
  height: 40px;
  border: 2px solid #000;
  font-weight: bold;
  border-radius: 7px;
}
.Message p{
  font-weight: bold;
  font-size: medium;
  height: 100%;
  margin-top: 40px;
}